/* Main container */
.my-appointment-container {
  padding: 20px;
  margin-top: 0px;
  font-family: Arial, sans-serif;
}
.my-appointment-container h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
.my-appointment-container p {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
}

/* Each appointment card */
.appointment-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
}

/* Doctor image */
.appointment-card img {
  width: 100px;
  height: 100px;
  border-radius: 6px;
  object-fit: cover;
  margin-right: 20px;
}

/* Details section */
.appointment-details {
  flex: 1;
}

.appointment-details p {
  margin: 3px 0;
  font-size: 19px;
  color: #333;
}

.appointment-details p:first-child {
  font-weight: bold;
  font-size: 20px;
  color: #000;
}

.appointment-details span {
  font-weight: bold;
  color: #000;
}

/* Action buttons */
.appointment-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.appointment-actions button {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #fff;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 14px;
}

.appointment-actions button:hover {
  background: rgb(223, 84, 84);
  color: #fff;
}

.appointment-actions button:first-child {
  background: linear-gradient(to right, #1eb3ad, #1c2a5b);
  color: #fff;
}

.appointment-actions button:first-child:hover {
  background: linear-gradient(to right, #1c2a5b, #1eb3ad);
  color: #fff;
}
