.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 300px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doc-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.doc-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.doc-info p {
  font-size: 22px;
  margin-right: 10px;
}

.experience-btn {
  background-color: #4caf50;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.appointment-fee {
  font-size: 18px;
  margin-bottom: 10px;
}

.appointment-fee span {
  font-weight: bold;
}

.availability {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.availability input[type="checkbox"] {
  margin-right: 10px;
}

.save-btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn {
  background-color: #03a9f4;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
