body {
  margin: 0;
  padding: 0;
  margin-top: 150px;
  background: #f3f5f7;
}

.contact-container {
  margin-top: 100px;
  display: flex;
  width: 75%;
  min-height: 60vh;
  margin-left: 15%;
}

.form-section,
.info-section {
  flex: 1;
  padding: 40px;
}

.form-section {
  background: white;
}
.form-section h2 {
  font-size: 40px;
}

.info-section {
  background: linear-gradient(to right, #4db6ac, #1e3c72);
  color: black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.name-fields {
  display: flex;
  gap: 15px;
}

input,
select,
textarea {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

textarea {
  height: 100px;
}

.send-btn {
  margin-top: 20px;
  background: linear-gradient(to right, #4db6ac, #1e3c72);
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.send-btn:hover {
  background: linear-gradient(to right, #1e3c72, #4db6ac);
}

.contact-detail {
  display: flex;
  align-items: flex-start;
  margin-top: 25px;
  color: black;
}

.contact-detail i {
  font-size: 24px;
  margin-right: 15px;
  margin-top: 5px;
}

.accordion {
  max-width: 700px;
  margin-right: 100px;
  margin-top: 150px;
}

.accordion-item {
  border-bottom: 1px solid #ddd;
}

.accordion-header {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  padding: 20px 0;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1d1e21;
}

/* .accordion-content {
  padding: 0 0 20px 0;
  font-size: 17px;
  color: #555;
  display: none;
}

.accordion-item.active .accordion-content {
  display: block;
} */
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.accordion-item.active .accordion-content {
  max-height: 200px; /* jitna content approx aa jaye */
}

.symbol {
  font-size: 24px;
}

.faq-section {
  padding: 100px 160px;
}

.faq-title {
  font-size: 64px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 30px;
  line-height: 1.2;
}

.faq-subtext {
  font-size: 22px;
  color: #505d67;
  line-height: 1.6;
}
.que {
  display: flex;
  justify-content: space-between;
}

img {
  width: 50%;
}
