.modal-dialog {
  background: white;
  color: black;
  padding: 30px;
  border-radius: 12px;
  position: relative;
  width: 350px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
/* Background overlay */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.login {
  font-size: 25px;
  margin-left: 25%;
}
.login span {
  color: #4db6ac;
}
input {
  width: 85%;
  padding: 12px 12px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}
p {
  font-size: 20px;
}
.btn-sumbit {
  background: linear-gradient(to right, #4db6ac, #1e3c72);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 15px;
  width: 50%;
  cursor: pointer;
  margin-left: 25%;
  margin-top: 30px;
}
.btn-sumbit:hover {
  background: linear-gradient(to right, #1e3c72, #4db6ac);
}
.click {
  font-size: 20px;
}
.click-span {
  text-decoration-line: underline;
  color: #4db6ac;
  cursor: pointer;
}
