/* .profile-card {

  max-width: 800px;

  padding: 20px;
  margin-top: 100px;
  margin-right: 1000px;
  height: 1000px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  gap: 20px;
}

.profile-left {
  flex: 1;
  text-align: center;
  border-right: 2px solid #f0f0f0;
  padding-right: 20px;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 15px;
  border: 3px solid #007bff;
  object-fit: cover;
}

.profile-name {

  margin: 10px 0;
  color: #333;
}

.profile-right {
  flex: 2;
}

.section {
  margin-bottom: 20px;
}

.section h3 {

  margin-bottom: 8px;
  color: #007bff;
  border-bottom: 2px solid #eee;
  padding-bottom: 4px;
}

.profile-input {
  width: 100%;
  padding: 8px 10px;
  margin: 6px 0;
  border: 1px solid #ccc;
  border-radius: 6px;

  transition: border 0.3s ease;
}

.profile-input:focus {
  border-color: #007bff;
  outline: none;
}

.btn-container {
  text-align: center;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.save-btn {
  background: linear-gradient(to right, #1eb3ad, #1c2a5b);
  color: #fff;
}

.edit-btn {
  background: linear-gradient(to right, #1eb3ad, #1c2a5b);
  color: #fff;
}

.btn:hover {
  opacity: 0.9;
  transform: translateY(-2px);
  background: linear-gradient(to right, #1c2a5b, #1eb3ad);
}

@media (max-width: 700px) {
  .profile-card {
    flex-direction: column;
    text-align: center;
  }

  .profile-left {
    border-right: none;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 20px;
  }
} */

.profile-card {
  max-width: 700px;
  margin: 40px auto; /* centers horizontally */
  background: linear-gradient(to right, #1eb3ad, #1c2a5b);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 20px 65px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-size: 6 0px;
}
.profile-name {
  text-align: left;
  font-weight: bold;
  font-size: 30px;
  margin: 10px 0;
}
/* To center vertically and horizontally in the page */
body,
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f7f9fb;
}

.btn {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.save-btn {
  background: linear-gradient(to right, #1eb3ad, #1c2a5b);
  color: #fff;
}

.edit-btn {
  background: linear-gradient(to right, #1eb3ad, #1c2a5b);
  color: #fff;
}

.btn:hover {
  opacity: 0.9;
  transform: translateY(-2px);
  background: linear-gradient(to right, #1c2a5b, #1eb3ad);
}
.profile-input {
  font-size: 19px;
}
.section h3 {
  font-size: 20px;
}
.section p {
  font-size: 19px;
}
