* {
  font-family: "Times New Roman", serif;
  font-size: 16px;
}

.footer {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 8vw;
  padding-top: 80px;
  margin-top: 100px;
}

.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 80px;
  color: white;
}

.footer-content-left,
.footer-content-center,
.footer-content-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.footer-content-left p {
  color: white;
}

.footer-content-left li,
.footer-content-center li,
.footer-content-right li {
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
  color: white;
}

.footer hr {
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background-color: white;
  border: none;
}

.footer-content h2 {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.footer-content a,
.footer-content li {
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.footer-bottom {
  font-size: 14px;
  text-align: center;
}
