.doctor {
  text-align: center;
  padding: 40px;
}

.doctor h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 8px;
}

.doctor p {
  color: #555;
  margin-bottom: 30px;
  font-size: 20px;
}

.doctor-sec {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.doctorcard {
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
}

.doctorcard:hover {
  transform: translateY(-5px);
}

.doctorcard img {
  width: 80%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  background-color: #f2f8ff; /* Light blue background */
  margin-bottom: 15px;
}

.doctor-info {
  text-align: left;
}

.doctor-avl {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 6px;
}

.doctor-avl p {
  color: #0a602e; /* Green text for 'Available' */
  font-weight: 700;
  font-size: 25px;
}

.status-dot {
  width: 10px;
  height: 10px;
  background-color: #2ecc71;
  border-radius: 50%;
}

.doctor-name {
  font-weight: bold;
  font-size: 16px;
  color: #000;
}

.doctor-speciality {
  font-size: 14px;
  color: #777;
}
