.doc-info {
  margin-top: 30px;
  display: flex;
  margin-left: 20px;
}
.doc-img img {
  width: 200px;
  /* background: linear-gradient(to right, #4db6ac, #1e3c72); */
  background-color: #4db6ac;
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 15px;
}
.doc-details {
  /* border: 1px solid black;
  border-radius: 10px; */
  width: 1000px;
  margin-left: 5px;
  align-items: center;
}
.doc-details img {
  margin-left: 5px;
  /* width: 15px; */
  background-color: white;
}
p,
button {
  margin-top: 10px;
}
.doc-details .name {
  font-size: 25px;
  font-style: inherit;
}
.doc-dateTime {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.dateTime {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: none;
  border-radius: 25px 25px 25px 25px;
}

.dateTime .date {
  /* background-color: #f5f5f5; */

  padding: 20px 18px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  /* margin-bottom: 10px; */
  cursor: pointer;
  /* transition: 0.3s; */
}

.dateTime.active {
  background-color: #4db6ac;
  color: white;
}

.dateTime.active .date,
.dateTime.active .time {
  color: white; /* force text to white */
}

.dateTime .time {
  background: transparent;
  border: none;
  font-size: 13px;
  color: #666;
  cursor: pointer;
  margin-top: 1px;
  margin-bottom: 10px;
}
.icon {
  width: 20px;
}
/* .dateTime .time.active {
  font-weight: 600;
  color: #000;
} */

.doc-Time {
  display: flex;
  gap: 10px;
  overflow-x: auto; /* scroll enable */
  white-space: nowrap;
  padding: 10px 0;
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.doc-Time::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.doc-Time::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.time-slot-btn {
  flex: 0 0 auto; /* prevent shrink */
  padding: 8px 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: white;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.time-slot-btn:hover {
  background-color: #f0f0f0;
}

.time-slot-btn.active {
  background-color: #4db6ac;
  color: white;
}

.dr-book-app {
  background: linear-gradient(to right, #4db6ac, #1e3c72);
  color: white;
  padding: 10px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.dr-book-app:hover {
  background: linear-gradient(to right, #1e3c72, #4db6ac);
}
.expe {
  padding: 3px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #4db6ac;
  color: white;
}
